@model MVC_Test.PRODUCT

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PRODUCT</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PRODUCT_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRODUCT_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRODUCT_DESCRIPTION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRODUCT_DESCRIPTION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRICE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRICE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRODUCT_IMAGE)
        </dt>

        <dd>
            @if (Model.PRODUCT_IMAGE != null)
            {

                @Html.HiddenFor(model => model.PRODUCT_IMAGE)
                {
                    var base64 = Convert.ToBase64String(Model.PRODUCT_IMAGE);
                    var imgSrc = String.Format("data:image/*;base64, {0}", base64);
                    <img src="@imgSrc" width="200" height="200" alt="Image Not Found" class="mx-auto" />
                }



            }
            else
            {
                <img src="/Content/Images/image-not-available.png" width="200" height="200" alt="Image Not Found" class="mx-auto" />
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CATEGORy.CATEGORY_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CATEGORy.CATEGORY_NAME)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index", null, new { @class="btn btn-dark"})
</p>
