@model IEnumerable<MVC_Test.PRODUCT>

@{
    ViewBag.Title = "Products";
}

<h2>Our Products</h2>
@if (User.IsInRole("Employee"))
{
    <a href="@Url.Action("Create", "Products")" class="btn btn-success fas fa fa-plus-square"></a>

}

<p>

</p>

<div class="row">
    @foreach (var item in Model)
    {

        <div class="col-3">

            <div class="card" style="width: 18rem;">

                @if (item.PRODUCT_IMAGE != null)
                {

                    @Html.HiddenFor(modelItem => item.PRODUCT_IMAGE)
                    {
                        var base64 = Convert.ToBase64String(item.PRODUCT_IMAGE);
                        var imgSrc = String.Format("data:image/*;base64, {0}", base64);
                        <img src="@imgSrc" width="200" height="200" alt="Image Not Found" class="mx-auto" />
                    }



                }
                else
                {
                    <img src="/Content/Images/image-not-available.png" width="200" height="200" alt="Image Not Found" class="mx-auto" />
                }


                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(Model => item.PRODUCT_NAME)</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@Html.DisplayFor(Model => item.PRICE)</h6>
                    <p class="card-text">@Html.DisplayFor(Model => item.PRODUCT_DESCRIPTION)</p>
                    @if (User.IsInRole("Customer") || User.IsInRole("Employee"))
                    {
                        <a href="@Url.Action("Buy", "Cart", new { id = item.ID })" class="btn btn-success fas fa fa-cart-plus"></a>

                    }
                    else
                    {
                        <a href="#" class="btn btn-success disabled">Login to order online</a>

                    }
                    @if (User.IsInRole("Employee"))
                    {
                        <a href="@Url.Action("Edit", "Products", new { id = item.ID })" class="btn btn-warning fas fa fa-edit"></a>
                        <a href="@Url.Action("Delete", "Products", new { id = item.ID })" class="btn btn-danger fas fa fa-trash"></a>


                        //    @Html.ActionLink("fa fas fa-eye", "Products", new { id = item.ID }, new { @class = "btn btn-warning m-2 fas fa fa-edit" })
                        //   @Html.ActionLink(" fa fas fa-eye", "Products", new { id = item.ID }, new { @class = "btn btn-danger m-2 fas fa fa-trash" })
                    }
                    <a href="@Url.Action("Details", "Products", new { id = item.ID })" class="btn btn-dark fas fa fa-eye"></a>


                </div>
            </div>
        </div>
    }
</div>
