@model IEnumerable<MVC_Test.Models.Orders>

@{
    ViewBag.Title = "Index";
}

<h2>Orders</h2>

<div class="row">
    <div class="col">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CategoryName)
                </th>
                <th> @Html.DisplayNameFor(model => model.TotalPrice)</th>
                <th> @Html.DisplayNameFor(model => model.ProductCount)</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductCount)
                    </td>

                </tr>
            }

        </table>
    </div>
    <div class="col">
        <img src="@Url.Action("DrawChart")" alt="Chart" />
    </div>
</div>



